{% load static %}

<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>REST APIs and Tastypie</title>

{#		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">#}
{#		<meta name="author" content="Hakim El Hattab">#}

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{% get_static_prefix %}css/reveal.min.css">
		<link rel="stylesheet" href="{% get_static_prefix %}css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{% get_static_prefix %}lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="{% get_static_prefix %}css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="{% get_static_prefix %}lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>REST APIs and Tastypie</h1>
					<h3>An Introduction</h3>
					<p>
						<small>By <a href="http://github.com/rmutter">Rudy Mutter</a> from <a href="http://yetihq.com">Yeti</a></small>
					</p>
				</section>

                <section>
                    <h2>Game Plan</h2>
                    <ul>
                        <li>Vocabulary</li>
                        <li>The Basics</li>
                        <li>Customization</li>
                        <li>Under the Hood</li>
                        <li>Advanced Usage</li>
                        <li>Other Resources</li>
                    </ul>
                </section>

				<section>
                    <section>
                        <h2>Vocabulary</h2>
                        <ul>
                            <li>What's an API?</li>
                            <li>What's REST?</li>
                            <li>CRUD</li>
                            <li>Example Calls</li>
                        </ul>
                    </section>
                    <section>
                        <h2>What's an API?</h2>
                        <h4>Application Programming Interface</h4>
                        <p>
                            A protocol for specifying how software should interact with each other.
                        </p>
                    </section>
                    <section>
                        <h2>What's REST?</h2>
                        <h4>Representational State Transfer</h4>
                        <p>
                            Web API protocol for HTTP
                            <br><br>
                            URIs (Uniform Resource Identifiers) w/ HTTP GET, POST, PUT, DELETE represent resources and objects
                        </p>
                    </section>
                    <section>
                        <h2>CRUD</h2>
                        <h4>Create Read Update Delete</h4>
                        <p>
                            POST -> Create <br>
                            GET -> Read <br>
                            PUT -> Update <br>
                            DELETE -> Delete <br>
                            <br><br>
                            Easiest explanation (but there's much more to REST)
                        </p>
                    </section>
                    <section>
                        <h2>Example Calls</h2>
					<pre><code data-trim contenteditable>
GET http://tastypie.yetibuilt.com/blog_post/

POST http://tastypie.yetibuilt.com/blog_post/
{
    'title': 'My new blog post',
    'author': 'Rudy',
    'post': 'This is a new blog post...'
}

PUT http://tastypie.yetibuilt.com/blog_post/1/
{
    'title': 'Changed blog post title',
    'author': 'Rudy',
    'post': 'This is a new blog post...'
}

DELETE http://tastypie.yetibuilt.com/blog_post/1/
					</code></pre>
                    </section>
				</section>
                <section>
                    <section>
                        <h2>The Basics</h2>
                        <ul>
                            <li>Install</li>
                            <li>Resources</li>
                            <li>Fields</li>
                            <li>Meta</li>
                            <li>Hooking it Up</li>
                            <li>Let's Try it Out</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Install</h2>
                        <p>
                            <pre><code>
pip install django-tastypie

app/
    api/
        resources.py
        authentication.py
        authorization.py
        fields.py

INSTALLED_APPS = (
    ...
    "tastypie",
)
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Resources</h2>
                        <p>
                            <pre><code>
from tastypie.resources import ModelResource
from mezzanine.blog.models import BlogPost

class BlogPostResource(ModelResource):
    class Meta:
        queryset = BlogPost.objects.all()
        resource_name = "blog_post"
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Fields</h2>
                        <p>
                            ToManyField and ToOneField to easily grab related data
                            <pre><code>
class BlogCategoryResource(ModelResource):
    class Meta:
        queryset = BlogCategory.objects.all()
        resource_name = "blog_category"

class BlogPostResource(ModelResource):
    categories = ToManyField(BlogCategoryResource, 'categories', full=True)

    class Meta:
        queryset = BlogPost.objects.all()
        resource_name = "blog_post"
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Hooking it Up</h2>
                        <p>
                            Register your API in urls.py, use version numbers to make changes to your API later.
                            <pre><code class="python">
v1_api = Api()
v1_api.register(BlogPostResource())
v1_api.register(BlogCategoryResource())

urlpatterns = patterns("",
    ...

    url(r'^api/', include(v1_api.urls)),
)
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Let's Try it Out</h2>
                        <p>
                            <a href="/api/v1/blog_post?format=json" target="_blank">Boop</a>
                        </p>
                    </section>
                    <section>
                        <h2>Meta</h2>
                        <p>
                            Built in pagination for lists
                            <pre><code class="json">
meta: {
    limit: 20,
    next: null,
    offset: 0,
    previous: null,
    total_count: 0
}
                            </code></pre>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Customization</h2>
                        <ul>
                            <li>Basic Options</li>
                            <li>Authentication</li>
                            <li>Authorization</li>
                            <li>Custom Authorization</li>
                            <li>Filtering</li>
                            <li>Caching</li>
                            <li>Format</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Basic Options</h2>
                        <p>
                            <pre><code class="python">
class BlogPostResource(ModelResource):
    class Meta:
        ...
        allowed_methods = ['get', 'post'] # Limit possible actions
        fields = ['status'] # Explicitly which fields are included
        excludes = ['rating'] # Return all fields except these
        always_return_data = True # Return data when a POST is made
        limit = 20 # Number of objects per 'page'
        ordering = ['-publish_date'] # Default order by
                            </code></pre>
                            Plenty of more options to be used - <a href="http://django-tastypie.readthedocs.org/en/latest/resources.html#resource-options-aka-meta">ResourceOptions</a>
                        </p>
                    </section>
                    <section>
                        <h2>Authentication</h2>
                        <p>
                            How does a user log in? <br>
                            <ul>
                                <li>Authentication - Default, doesn't require login</li>
                                <li>BasicAuthentication - Basic HTTP Authentication, user:pass base64 encoded</li>
                                <li>ApiKeyAuthentication - Tastypie has built in API Key table for use</li>
                            </ul>
                            <pre><code class="python">
class BlogPostResource(ModelResource):
    class Meta:
        ...
        authentication = Authentication()
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Authorization</h2>
                        <p>
                            What does a user have access to? <br>
                            <ul>
                                <li>Authorization - No permission checking</li>
                                <li>ReadOnlyAuthorization - Default, only permits GET calls</li>
                                <li>DjangoAuthorization - Uses built in Django permission system based on models</li>
                            </ul>
                            <pre><code class="python">
class BlogPostResource(ModelResource):
    class Meta:
        ...
        authorization = ReadOnlyAuthorization()
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Custom Authorization</h2>
                        <p>
                            Allow a user to only read, create, or update objects associated with them.
                            <pre><code class="python">
class UserObjectsOnlyAuthorization(Authorization):
    def read_list(self, object_list, bundle):
        return object_list.filter(user=bundle.request.user)

    def read_detail(self, object_list, bundle):
        return bundle.obj.user == bundle.request.user

    def create_list(self, object_list, bundle):
        return object_list

    def create_detail(self, object_list, bundle):
        return bundle.obj.user == bundle.request.user

    def update_list(self, object_list, bundle):
        allowed = []

        # Since they may not all be saved, iterate over them.
        for obj in object_list:
            if obj.user == bundle.request.user:
                allowed.append(obj)

        return allowed

    def update_detail(self, object_list, bundle):
        return bundle.obj.user == bundle.request.user

    def delete_list(self, object_list, bundle):
        raise Unauthorized("Sorry, no deletes.")

    def delete_detail(self, object_list, bundle):
        raise Unauthorized("Sorry, no deletes.")
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Filtering</h2>
                        <p>
                            Can list related resources or individual fields
                            <pre><code class="python">
class BlogPostResource(ModelResource):
    class Meta:
        ...
        filtering = {
            'categories': ALL_WITH_RELATIONS,
            'status': ['exact'],
            'content': ['contains', 'icontains']
        }
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Caching</h2>
                        <p>
                            Limited out of the box options - SimpleCache or NoCache
                            <pre><code class="python">
class BlogPostResource(ModelResource):
    class Meta:
        ...
        cache = SimpleCache(60) # Cache this response for 60 seconds
                            </code></pre>
                        </p>
                    </section>
                    <section>
                        <h2>Format</h2>
                        <p>
                            Tastypie comes with multiple serializer options - json, xml, yaml, html, plist, jsonp <br>
                            When in doubt, just support json.
                            <br><br>
                            http://tastypie.yetibuilt.com/blog_post/?format=json
                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Under the Hood</h2>
                        <ul>
                            <li>What is a Bundle?</li>
                            <li>Hydrate & Dehydrate</li>
                            <li>From URI -> Object</li>
                            <li>Object -> Response</li>
                        </ul>
                    </section>
                    <section>
                        <h2>What is a Bundle?</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Hydrate & Dehydrate</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>From URI -> Object</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Object -> Response</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Advanced Usage</h2>
                        <ul>
                            <li>Non-Model Resource</li>
                            <li>Custom URL</li>
                            <li>Custom Filtering</li>
                            <li>Prefetch for Performance</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Non-Model Resource</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Custom URL</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Custom Filtering</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Prefetch for Performance</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Other Resources</h2>
                        <p><a href="http://django-tastypie.readthedocs.org/en/latest/">Offical Tastypie Docs</a></p>
                        <ul>
                            <li>Postman</li>
                            <li>JSON Viewer</li>
                            <li>Tastypie Swagger</li>
                            <li>iOS Restkit</li>
                            <li>Sentry</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Postman</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>JSON Viewer</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Tastypie Swagger</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>iOS Restkit</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Sentry</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <h2>The End</h2>
                    <p>
                        Thanks for listening! <br><br>

                        <small><a href="http://github.com/rmutter">Rudy Mutter</a> from <a href="http://yetihq.com">Yeti</a></small>
                    </p>
                </section>

			</div>

		</div>

		<script src="{% get_static_prefix %}lib/js/head.min.js"></script>
		<script src="{% get_static_prefix %}js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{% get_static_prefix %}lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{% get_static_prefix %}plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{% get_static_prefix %}plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{% get_static_prefix %}plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{% get_static_prefix %}plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '{% get_static_prefix %}plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>s
	</body>
</html>
