{% load static %}

<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>REST APIs and Tastypie</title>

{#		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">#}
{#		<meta name="author" content="Hakim El Hattab">#}

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{% get_static_prefix %}css/reveal.min.css">
		<link rel="stylesheet" href="{% get_static_prefix %}css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{% get_static_prefix %}lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="{% get_static_prefix %}css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="{% get_static_prefix %}lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>REST APIs and Tastypie</h1>
					<h3>An Introduction</h3>
					<p>
						<small>By <a href="http://github.com/rmutter">Rudy Mutter</a> from <a href="http://yetihq.com">Yeti</a></small>
					</p>
				</section>

                <section>
                    <h2>Game Plan</h2>
                    <ul>
                        <li>Vocabulary</li>
                        <li>The Basics</li>
                        <li>Customization</li>
                        <li>Under the Hood</li>
                        <li>Advanced Usage</li>
                        <li>Other Resources</li>
                    </ul>
                </section>

				<section>
                    <section>
                        <h2>Vocabulary</h2>
                        <ul>
                            <li>What's an API?</li>
                            <li>What's REST?</li>
                            <li>CRUD</li>
                            <li>Example REST Calls</li>
                        </ul>
                    </section>
                    <section>
                        <h2>What's an API?</h2>
                        <h4>Application Programming Interface</h4>
                        <p>
                            A protocol for specifying how software should interact with each other.
                        </p>
                    </section>
                    <section>
                        <h2>What's REST?</h2>
                        <h4>Representational State Transfer</h4>
                        <p>
                            Web API protocol for HTTP
                            <br><br>
                            URIs (Uniform Resource Identifiers) w/ HTTP GET, POST, PUT, DELETE represent resources and objects
                        </p>
                    </section>
                    <section>
                        <h2>CRUD</h2>
                        <h4>Create Read Update Delete</h4>
                        <p>
                            POST -> Create <br>
                            GET -> Read <br>
                            PUT -> Update <br>
                            DELETE -> Delete <br>
                            <br><br>
                            Easiest explanation (but there's much more to REST)
                        </p>
                    </section>
                    <section>
                        <h2>Example REST Calls</h2>
					<pre><code data-trim contenteditable>
GET http://tastypie.yetibuilt.com/blog/

POST http://tastypie.yetibuilt.com/blog/
{
    'title': 'My new blog post',
    'author': 'Rudy',
    'post': 'This is a new blog post...'
}

PUT http://tastypie.yetibuilt.com/blog/1/
{
    'title': 'Changed blog post title',
    'author': 'Rudy',
    'post': 'This is a new blog post...'
}

DELETE http://tastypie.yetibuilt.com/blog/1/
					</code></pre>
                    </section>
				</section>
                <section>
                    <section>
                        <h2>The Basics</h2>
                        <ul>
                            <li>Resources</li>
                            <li>Fields</li>
                            <li>Meta</li>
                            <li>Hooking it Up</li>
                            <li>Let's Try it Out</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Resources</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Fields</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Meta</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Hooking it Up</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Let's Try it Out</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Customization</h2>
                        <ul>
                            <li>Basic Options</li>
                            <li>Allowed Methods</li>
                            <li>Authentication/Authorization</li>
                            <li>Caching</li>
                            <li>Filtering</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Basic Options</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Allowed Methods</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Authentication/Authorization</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Caching</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Filtering</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Under the Hood</h2>
                        <ul>
                            <li>What is a Bundle?</li>
                            <li>Hydrate & Dehydrate</li>
                            <li>From URI -> Object</li>
                            <li>Object -> Response</li>
                        </ul>
                    </section>
                    <section>
                        <h2>What is a Bundle?</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Hydrate & Dehydrate</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>From URI -> Object</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Object -> Response</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Advanced Usage</h2>
                        <ul>
                            <li>Non-Model Resource</li>
                            <li>Custom URL</li>
                            <li>Custom Filtering</li>
                            <li>Prefetch for Performance</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Non-Model Resource</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Custom URL</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Custom Filtering</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Prefetch for Performance</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Other Resources</h2>
                        <p><a href="http://django-tastypie.readthedocs.org/en/latest/">Offical Tastypie Docs</a></p>
                        <ul>
                            <li>Postman</li>
                            <li>JSON Viewer</li>
                            <li>Tastypie Swagger</li>
                            <li>iOS Restkit</li>
                            <li>Sentry</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Postman</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>JSON Viewer</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Tastypie Swagger</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>iOS Restkit</h2>
                        <p>

                        </p>
                    </section>
                    <section>
                        <h2>Sentry</h2>
                        <p>

                        </p>
                    </section>
                </section>

                <section>
                    <h2>The End</h2>
                    <p>
                        Thanks for listening! <br><br>

                        <small><a href="http://github.com/rmutter">Rudy Mutter</a> from <a href="http://yetihq.com">Yeti</a></small>
                    </p>
                </section>

			</div>

		</div>

		<script src="{% get_static_prefix %}lib/js/head.min.js"></script>
		<script src="{% get_static_prefix %}js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{% get_static_prefix %}lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{% get_static_prefix %}plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{% get_static_prefix %}plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{% get_static_prefix %}plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{% get_static_prefix %}plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '{% get_static_prefix %}plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>s
	</body>
</html>
